// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@import 'shared/_imports';
@import 'swiper';

section#brexit-shorts {
    .fc-item {
        padding: 0;
    }
}

.brexit-shorts-thrasher {
    border-top: 2px solid #fb0;
    background-color: #333;
    font-family: 'Guardian Egyptian Web', 'Guardian Egyptian Text Web', Georgia;
    @include mq(tablet) {
        width: 740px;
        padding-bottom: 18px;
    }
    @include mq(desktop) {
        width: 980px;
        padding-bottom: 24px;
    }
    @include mq($from:leftCol, $until:wide) {
        width: 1140px;
    }
    @include mq(wide) {
        body:not(.has-page-skin) & {
            width: 1300px;
        }
    }
    .header {
        min-height: 60px;
        position: relative;
        @include mq(tablet) {
            margin-left: 10px;
        }

        @include mq($from:leftCol, $until:wide) {
            position: absolute;
            top: 0;
            left: 2px;
        }
        @include mq(wide) {
            body:not(.has-page-skin) & {
                position: absolute;
                top: 0;
                left: 2px;
            }
        }

        &__brexit-logo {
            position: absolute;
            top: 9px;
            left: 10px;
            img {
                width: 69px;
                height: 40px;
            }
        }
        &__text {
            position: relative;
            z-index: 6;
            display: block;
            padding-top: 9px;
            padding-left: 91px;
            padding-bottom: 12px;
            &:hover {
                h1 {
                    text-decoration: underline;
                }
                h2 {
                    text-decoration: none;
                }
            }
            @include mq($from:leftCol, $until:wide) {
                padding-left: 10px;
                padding-top: 57px;
                width: 140px;
            }
            @include mq(wide) {
                body:not(.has-page-skin) & {
                    padding-left: 10px;
                    padding-top: 57px;
                    width: 220px;
                }
            }
            h1, h2 {
                color: #fb0;
                font-weight: 700;
                margin: 0;
                padding: 0;
                line-height: 1em;
            }
            h1 {
                font-size: 24px;
                @include mq($from:leftCol, $until:wide) {
                    margin-bottom: 3px;
                }
                @include mq(wide) {
                    body:not(.has-page-skin) & {
                        margin-bottom: 3px;
                    }
                }
            }
            h2 {
                font-size: 18px;
            }
        }
    }
    .films {
        width: 100%;
        position: relative;
        @include mq(tablet) {
            height: 293px;
        }
        @include mq($from:leftCol, $until:wide) {
            padding-top: 12px;
        }
        @include mq(wide) {
            body:not(.has-page-skin) & {
                padding-top: 12px;
            }
        }
        .swiper-wrapper {
            padding-bottom: 48px;
            @include mq(tablet) {
                padding: 0;
                &:before,
                &:after {
                    position: absolute;
                    top: 0;
                    left: 560px;
                }
                &:before {
                    content: '';
                    width: 60px;
                    height: 1px;
                    background-color: #fb0;
                    opacity: 0.8;
                }
                &:after {
                    content: 'more brexit shorts';
                    font-family: 'Guardian Text Sans Web', 'Guardian Sans Web', Helvetica, Arial, sans-serif;
                    line-height: 24px;
                    font-size: 16px;
                    color: #f6f6f6;
                }
            }
            @include mq(desktop) {
                &:before,
                &:after {
                    left: 740px;
                }
            }
            @include mq($from:leftCol, $until:wide) {
                &:before,
                &:after {
                    left: 900px;
                }
            }
            @include mq(wide) {
                body:not(.has-page-skin) & {
                    &:before,
                    &:after {
                        left: 980px;
                    }
                }
            }
        }
        .card {
            width: calc(100% - 70px);
            position: relative;
            overflow: hidden;
            @include mq(mobileLandscape) {
                width: 340px;
            }
            @include mq(tablet) {
                display: none;

                &:nth-child(1) {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 20px;
                    width: 520px;
                    height: 293px;
                    .foreground {
                        .play-button {
                            transform: scale(1.125);
                        }
                        .title {
                            font-size: 36px;
                            line-height: 38px;
                            padding-top: 3px;
                        }
                        .people {
                            font-size: 16px;
                            line-height: 18px;
                        }
                    }
                }

                &:nth-child(2),
                &:nth-child(3) {
                    display: block;
                    position: absolute;
                    width: 160px;
                    height: 124px;
                    left: 560px;
                    .foreground {
                        .play-button {
                            transform-origin: bottom left;
                            transform: scale(0.5);
                        }
                        .title {
                            font-size: 18px;
                            line-height: 18px;
                        }
                        .people {
                            display: none;
                        }
                    }
                    .background {
                        img.small {
                            height: 124px;
                            width: auto;
                        }
                    }
                }

                &:nth-child(2) {
                    top: 32px;
                }
                &:nth-child(3) {
                    top: 172px;
                }
            }
            @include mq(desktop) {
                &:nth-child(1) {
                    width: 700px;
                    img.large {
                        transform: translateY(-12px);
                    }
                }
                &:nth-child(2),
                &:nth-child(3) {
                    left: 740px;
                    width: 220px;
                }
            }
            @include mq($from:leftCol, $until:wide) {
                &:nth-child(1) {
                    left: 180px;
                }
                &:nth-child(2),
                &:nth-child(3) {
                    left: 900px;
                }
            }
            @include mq(wide) {
                body:not(.has-page-skin) & {
                    &:nth-child(1) {
                        left: 260px;
                    }
                    &:nth-child(2),
                    &:nth-child(3) {
                        left: 980px;
                    }
                }
            }
            &.first {
                margin-left: -50px;
                @include mq(mobileLandscape) {
                    margin-left: 0;
                }
            }
            .link {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 3;
                @include mq(tablet) {
                    &:hover {
                        &+.background,
                        &~.foreground {
                            opacity: 0.8;
                        }
                    }
                }
            }
            .background {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 50%;
                    background-color: tomato;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.4+100 */
                    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
                }
                img {
                    width: 100%;
                    display: none;
                    &.mob-load {
                        display: block;
                    }
                    @include mq(tablet) {
                        &.mob-load {
                            display: none;
                        }
                        &.dsk-load {
                            display: block;
                            height: 100%;
                            width: auto;
                        }
                        &.dsk-load.large {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
            .foreground {
                position: absolute;
                bottom: 0;
                left: -1px;
                right: -1px;
                padding: 6px 9px;
                color: #fff;
                opacity: 0.9;
                transition: all 440ms;
                .play-button {
                    width: 48px;
                    height: 48px;
                    border-radius: 100%;
                    display: block;
                    margin-bottom: 6px;
                    margin-left: -1px;
                    position: relative;
                    background-color: #fb0;
                    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2225%22%20height%3D%2221%22%3E%3Cpath%20fill%3D%22%23333%22%20fill-rule%3D%22evenodd%22%20d%3D%22M24.2%2011.07v-1.02L1.5.67l-.83.65V19.8l.83.58%22%2F%3E%3C%2Fsvg%3E');
                    background-position: 13.5px 14px;
                    background-size: 25px 21px;
                    background-repeat: no-repeat;
                    opacity: 0;
                    transform: scale(0.85);
                    transition: all 400ms;
                    @include mq(tablet) {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
                .title {
                    font-weight: 800;
                    font-size: 28px;
                    line-height: 28px;
                    margin-bottom: 1px;
                }
                .people {
                    font-size: 14px;
                    line-height: 18px;
                    font-family: 'Guardian Text Sans Web', 'Guardian Sans Web', Helvetica, Arial, sans-serif;
                    opacity: 0.9;
                }
            }
            &.swiper-slide-active {
                .foreground {
                    opacity: 1;
                    transform: translateY(0);
                    .play-button {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
        }
        .swiper-pagination {
            bottom: 18px;
            @include mq(tablet) {
                display: none;
            }
            .swiper-pagination-bullet {
                background-color: #DCDCDC;
                width: 6px;
                height: 6px;
                vertical-align: middle;
                margin: 0 3px;
                opacity: 1;
            }
            .swiper-pagination-bullet-active {
                background-color: #FB0;
                width: 10px;
                height: 10px;
            }
        }
    }
    .mob-load {
        display: block;
    }
    .dsk-load {
        display: none;
    }
    @include mq(tablet) {
        .mob-load {
            display: none;
        }
        .dsk-load {
            display: block;
            height: 100%;
            width: auto;
        }
    }
}
